.custom-form-control {
    border:0 !important;
    padding: 10px 0 0 10px !important;
  }

  .input-field {
    position: relative;
    display: flex;
    align-items: center;
    border: 1px solid #ced4da;
    border-radius: 20px ;
    padding: 5px;
    height: 50px;
  }

  .input-field input:focus {
    outline: none;
    box-shadow: none;
    border-color: #ced4da;
  }
  
  .input-field .flag-icon {
    display: flex;
    align-items: center;
  }
  
  .input-field .flag-icon img {
    width: 20px;
    height: 15px;
    margin-right: 5px;
    cursor: pointer;
  }
  
  .input-field .dropdown-icon {
    position: absolute;
    right: 10px;
    cursor: pointer;
  }
  
  .country-options {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 10px;
  }
  
  .country-options div {
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-bottom: 5px;
  }
  
  .country-options div img {
    width: 20px;
    height: 15px;
    margin-right: 5px;
  }
  
  .input-field:hover {
    border-color: #707070;
  }
  
  .input-field:hover .dropdown-icon {
    color: #707070;
  }
  
  .input-field:hover .country-options {
    display: block;
  }
  .active-icon{
    width:30px;
    padding: 20px 0 0 0px;
    
  }
  .label{
    position: absolute;
    display: flex;
    top: 0;
    left: 10px;
    margin-bottom: 5px;
    font-size: 14px;
    
  }
  .icon-image{
    display: flex;
    cursor: pointer;
    
  }
  .drop-down-icon{
    width: 12px;
    height: 32px;
    padding: 20px 0 0 0px;
    margin-top: 9px;
   
  }

  .password-toggle {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
  }
  
  .password-toggle-icon {
    font-size: 18px;
    color: #ccc;
  }
  
  .password-toggle:hover .password-toggle-icon {
    color: #333;
  }
  
  .custom-invalid-input {
    border-color: none !important;
    box-shadow: none !important;
  }
  .error-message {
    color: red;
    font-size: 14px;
    margin-top: 5px;
  }
  