.shared-carousel .carousel-indicators li {
    background-color: #ff0202; /* Inactive bullet color */
    border-radius: 50%;
    width: 10px;
    height: 10px;
  }
  
  .shared-carousel .carousel-indicators .active {
    background-color: #333; /* Active bullet color */
  }
  .shared-carousel{
    border-radius: 50%;
    z-index: -1;
  }
  .carousel-image{
    border-radius: 12px;
   
  }